* 
{
	margin: 0;
	padding: 0 3%;
}
body
{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header 
{
	background-image: url('images/banner.png');
	background-size: cover;
	height: 500px;
}
.logo 
{
	width: 30%;
	float: left;
}
header nav
{
	display: inline;
	margin-left: 11.5%;
	margin-right: 8%;
}
header nav ul li 
{
	list-style-type: none;
	float:right ;
}
header ul li a 
{
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	padding: 1% 1.5%;
}
header h1 
{
	font-size: 4em;
	color: white;
	font-weight: 500;
	margin: 15% 19% 0 27%;
}
#about 
{
	padding: 1% 20% 5% 20%;
	text-align: center;
}
#about button 
{
	padding: 2% 5%;
	color: black;
	font-weight: 700;
	font-size: larger;
	background: white;
	border: none;
	border-radius: 10px;
}
#content
{
	text-align: left;
	padding-top: 5%;
	padding-bottom: 5%;
	font-size: xx-large;
}
#content p 
{
	text-align: left;
	font-size: x-large;
}
#content img 
{
	width: 480px;
	height: 280px;
}
footer 
{
	height: 70px;
	background-color: #f1f1f1;
	padding: 20px 3%;
}
.footer_text 
{
	font-weight: bold;
	font-size: large;
}
.footer_text p span 
{
	float: right;
}