* 
body 
{
	font-family: 'Open sans', sans-serif;
	margin: 0 0 0 0;
	background-color: #f1f1f1b2;
}
ul, ol 
{
	list-style: none;
}
img 
{
	max-width: 100;
}
header 
{
	margin: 0;
	height: 90px;
	background: #000000;
	width: 100%;
	z-index: 10;
	position: fixed;
}
nav 
{
	float: right;
}
ul.navigation 
{
	list-style: none;
	padding-left: 0;
	float: right;
	margin: 5px auto;
}
ul.navigation li 
{
	display: inline-block;
}
ul.navigation li a 
{
  text-decoration: none;
	margin: 0 10px;
	font-size: 16px;
	padding: 5px;
	color: #d6d6d6;
	font-family: 'Open sans', sans-serif;
}
ul.navigation li a:hover {
	color: #fff;
	transition: color 200ms ease-in;
}
.logo 
{
	width: 30%;
	float: left;
	line-height: 100px;
}
.search 
{
	float: right;
	padding-right: 6%;
}
.search::placeholder 
{
	font-size: large;
	padding-top: 8px;
	float: left;
	font-weight: bold;
	color: #000;
}
.search input[type="text"] 
{
	background: #ffffff;
	color: rgb(0, 0, 0);
	border-radius: 0px;
	box-sizing: border-box;
	font-size: 12px;
	border: 1px solid rgb(0, 0, 0);
	width: 280px;
	height: 45px;
	outline: none;
}
.box 
{
	width: 26%;
	height: 20%;
	background-color: white;
	border-radius: 10px;
	box-shadow: 8px 8px 10px rgb(150, 150, 150);
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 50px;
}
.box a 
{
	text-decoration: none;
	font-family: poppins;
	margin: 0 20px;
	color: #51AEFF;
}
.box hr, p 
{
	margin-left: 5%;
	margin-right: 5%;
}
.dot {
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: inline-block;
	float: left;
	color: white;
	font-weight: bold;
	font-size: xx-small;
}